#section-header {
  padding-top: 192px;
  padding-bottom: 320px;

  background-size: 32px, cover;
  background-repeat: no-repeat;
}

#section-header h1 {
  text-align: center;
  font-size: 64px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--white);
}

@media (orientation: portrait) {
  #section-header {
    background-image: url("/02/assets/icons/icon-arrow-down.svg"),
      url("/02/assets/images/mobile/image-header.jpg");
    background-position: 50% 64%, bottom;
  }
}

@media (orientation: landscape) {
  #section-header {
    background-image: url("/02/assets/icons/icon-arrow-down.svg"),
      url("/02/assets/images/desktop/image-header.jpg");
    background-position: 50% 50%, bottom;
  }
}

@media screen and (min-width: 720px) {
  #section-header {
    padding-bottom: 40%;
    background-image: url("/02/assets/icons/icon-arrow-down.svg"),
      url("/02/assets/images/desktop/image-header.jpg");
    background-position: 50% 50%, bottom;
  }
}
