:root {
  /*
    ### Layout
  */

  --breakpoint-tablet: 758px;
  --max-width-container-on-breakpoint-tablet: 720px;
  --breakpoint-desktop: 1600px;
  --max-width-container-on-breakpoint-desktop: 1440px;

  --gutter: 24px;

  /*
    ### Colors
  */

  --soft-red: #fe7867;
  --yellow: #fad400;
  --dark-desaturated-cyan: #25564b;
  --dark-blue: #19536b;
  --dark-moderate-cyan: #90d4c5;

  --very-dark-desaturated-blue: #23303e;
  --very-dark-grayish-blue: #5a636c;
  --dark-grayish-blue: #818498;
  --grayish-blue: #a7abae;
  --white: #ffffff;

  --color-heading: var(--very-dark-desaturated-blue);
  --color-paragraph: var(--very-dark-grayish-blue);

  /*
    ### Typography
  */

  --font-size-body: 18px;
  --font-size-heading-1: 72px;
  --font-size-heading-2: 48px;
  --font-size-heading-3: 32px;
  --font-size-heading-4: 24px;
  --font-family-body: "Barlow", sans-serif;
  --font-family-headings: "Fraunces", serif;

  /*
    ### Button
  */
  --button-font-size: var(--font-size-heading-4);
  --button-font-weight: 900;
  --button-font-family: var(--font-family-headings);
}
